# Global Vector DB & Data Path Settings
QDRANT_URL=
QDRANT_API_KEY=
FILE_DIR=documents

# Ollama Configuration
OLLAMA__CHAT_MODEL=''
OLLAMA__EMBEDDING_MODEL=''
OLLAMA__BASE_URL=''
OLLAMA__TEMPERATURE=
OLLAMA__MAX_TOKENS=

# Gemini Configuration
GEMINI__API_KEY=''
GEMINI__CHAT_MODEL=''
GEMINI__EMBEDDING_MODEL=''
GEMINI__TEMPERATURE=
GEMINI__MAX_TOKENS=

# MinIO Configuration
MINIO_ENDPOINT = ''
MINIO_ACCESS_KEY = ''
MINIO_SECRET_KEY = ''
MINIO_BUCKET_NAME = ''